.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
  min-height: 120px;
  margin-top: -16px;
}
[data-theme="compact"] .card-container > .ant-tabs-card > .ant-tabs-content {
  min-height: 120px;
  margin-top: -8px;
}

[data-theme="compact"]
  .card-container
  > .ant-tabs-card
  > .ant-tabs-content
  > .ant-tabs-tabpane,
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff5f8;
  padding: 16px;
}

[data-theme="compact"] .card-container > .ant-tabs-card > .ant-tabs-bar,
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff5f8;
}

[data-theme="compact"]
  .card-container
  > .ant-tabs-card
  > .ant-tabs-bar
  .ant-tabs-tab,
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

[data-theme="compact"]
  .card-container
  > .ant-tabs-card
  > .ant-tabs-bar
  .ant-tabs-tab-active,
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff5f8;
  background: #fff5f8;
  color: #8798ad;
  font-weight: 600;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none;
  margin-left: 0;
}

.ant-collapse-icon-position-right .ant-collapse-item .ant-collapse-header {
  padding: 0;
  padding-right: 0;
}

.ant-collapse .ant-collapse-item .ant-collapse-header {
  padding: 0 !important;
  padding-left: 0 !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none !important;
}

[data-theme="compact"]
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #fff;
  border-radius: 2px;
  border: 0px;
  overflow: hidden;
  border-bottom: none;
  color: #e91e63 !important;
}
