* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.015em;
  font-family: "Montserrat Regular", sans-serif;
  overflow: hidden;
  background-color: #f6f6f6;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("/fonts/Montserrat-Thin.ttf");
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 16px;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none !important;
}
